* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica", "Neue";
}



#nav {
    height: 44px;
    background-color: #181818;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    
}

ul {
    height: 100%;
    display: flex;
    color: rgb(176, 173, 173);
    gap: 34px;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: small;
}

#logo {
    height: 28px;
    width: 28px;
}

/* section-01 */

#hero1 {
    height: 650px;
    background-image: url('./Images/iphone.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.ctn {
    color: white;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
}


h1 {
    font-size: 52px;
    font-weight: 750;
}

p {
    font-size: 28px;
    margin-bottom: 4px;
}

.button1 {
    background-color: #0077ED;
    color: white;
    width: 130px;
    height: 44px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
    border: 2px solid transparent;
}

.button8 {
    background-color: #0077ED;
    color: white;
    width: 110px;
    height: 38px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
    border: 2px solid transparent;
}

.button8:hover {
    background-color: #0b82f8;
    border: 2px solid #0077ED;
}

.button2 {
    border: 1px solid #3295f9;
    background-color: rgb(0, 0, 0);
    color: #208bf5;
    height: 44px;
    width: 74px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
}

.button7 {
    border: 1px solid #3295f9;
    background-color: rgb(0, 0, 0);
    color: #208bf5;
    height: 38px;
    width: 68px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
}

.button7:hover {
    background-color: #0077ED;
    color: white;
}

.button9 {
    border: 1px solid #3295f9;
    background-color: rgb(255, 255, 255);
    color: #208bf5;
    height: 38px;
    width: 68px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
}

.button9:hover {
    background-color: #0077ED;
    color: white;
}

.button1:hover {
    background-color: #0b82f8;
    border: 2px solid #0077ED;
}

.button2:hover {
    background-color: #0077ED;
    color: white;
}

/* section-02 */

#hero2{
    height: 650px;
    background-image: url("./Images/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ctn2{
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
}

.ctn4{
     display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
    font-size: x-small;
}

.btn2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button3 {
    border: 1px solid #3295f9;
    background-color: rgb(255, 255, 255);
    color: #208bf5;
    height: 44px;
    width: 74px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
}

.button3:hover {
    background-color: #0077ED;
    color: white;
}

/* section-03 */

#hero3 {
    height: 650px;
    background-image: url('./Images/hero_macbook_pro.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}




/* product-01 */

#product-1 {
  display: flex;
  padding: 8px;
  gap: 8px;
}

.productbox-1{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/promo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productbox-2{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/prmo2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* product-2 */

#product-2 {
  display: flex;
  gap: 8px;
}

.productbox-3{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/promo_airpods.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.productbox-4{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/macbook.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* product-3 */

#product-3 {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.productbox-5{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/promo_iphone_tradein.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}


.button5 {
    background-color: #0077ED;
    color: white;
    width: 160px;
    height: 38px;
    border-radius: 30px;
    font-weight: 400;
    font-size: medium;
    border: 2px solid transparent;
}

.button5:hover {
    background-color: #0b82f8;
    border: 2px solid #0077ED;
}

.productbox-6{
    height: 580px;
    width: 50%;
    /* margin: 10px; */
    background-image: url("./Images/promo_apple_card.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.new{
    font-size: 44px;
}

.old{
    font-size: 20px;
}

.img-3{
    height: 40px;
    /* width: 180px; */
}

#hero1 .ctn,
#hero2 .ctn2,
#hero3 .ctn {
    padding-top: 20px;
    padding-bottom: 10px;
} 











